.login-page {
  background-image: url(src/Image/barberback2.png);
  background-size: cover;
  background-position: center;
  color: white; /* Set text color */
  padding: 20px; /* Adjust padding as needed */
}
